<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="tit-backend"
                      transaction-type="RESOURCE_LOCAL">
        <class>tit.backend.entity.UserExt</class>
        <class>tit.backend.entity.Ticket</class>
        <class>tit.backend.entity.Activity</class>
        <class>tit.backend.entity.TicketCategory</class>
    </persistence-unit>
</persistence>
